* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    
}


fieldset{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.534);
    

}

.login, .password, input{
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    
    
}


.check {
    font-size: 13px;
    display: flex;
    align-items: center;
    
}

.check input {
    width: 16px;
   
}

button {
    width: 90px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #2B4162, #385F71, #52D1DC);
    font-family: 'Poppins', sans-serif;
    color: white;

}


a {
    font-size: 13px;
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
    color: #2B4162;
   
}




